<div class="controls">
  <div class="seearch_box">
    <input
      type="text"
      id="name"
      placeholder="Search books"
      [formControl]="searchField"
    />
    <span class="material-icons"> search </span>
  </div>
  <button class="sort-button" (click)="toggleOrder()" title="Sort by ratings">
    <i class="material-icons"> star </i>
    <i class="material-icons">
      {{ order == "desc" ? "keyboard_arrow_down" : "keyboard_arrow_up" }}
    </i>
  </button>
</div>
<app-loader *ngIf="isLoading"></app-loader>
<div class="products">
  <ng-container *ngFor="let product of products">
    <app-product
      [product]="product"
      (add)="addToCart($event)"
      (remove)="removeFromCart($event)"
    ></app-product>
  </ng-container>
</div>

<div class="dummy"></div>
