.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
  gap: 2rem;
}
.sign-in-msg {
  font-size: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(122, 122, 122, 0.2);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
}

.form__input input,
.form__submit {
  font-family: inherit;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1.2px;
  border: 0;
  outline: 0;
  color: var(--text-color-primary);
}

.form__input {
  display: flex;
  flex-direction: column;
}
.form__input input {
  padding: 1rem;
}

.form__input input::placeholder {
  opacity: 0.35;
}

.form__input input:focus::placeholder {
  color: var(--primary);
  opacity: 0.85;
}

.form__input:first-of-type {
  position: relative;
}

.form__input:first-of-type::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(122, 122, 122, 0.4);
  pointer-events: none;
}

.form__submit {
  background: var(--background-variant);
  color: var(--text-color-primary);
  padding: 1rem 1rem;
  text-transform: uppercase;
}
.form__submit:focus,
.form__submit:hover {
  cursor: pointer;
  color: vaR(--primary);
}
@media only screen and (min-width: 600px) {
  .form {
    flex-direction: row;
    max-width: 625px;
    border: 8px solid var(--background-variant);
    border-radius: 2rem;
  }
  .form__submit {
    margin-left: auto;
    border-radius: 2rem;
  }
  .form__input {
    justify-content: center;
  }
  .form__input:last-of-type {
    flex-grow: 1;
  }
  .form__input:first-of-type::after {
    right: 0;
    left: initial;
    top: 0;
    bottom: 0;
    width: 1px;
    height: initial;
  }
}

.register-btn {
  padding: 0.2rem;
}

.registration-info {
  display: flex;
  flex-direction: column;
}
