<div class="login-form">
  <h5 class="sign-in-msg">Sign in to continue</h5>
  <form action="javascript:void(0)" class="form">
    <div class="form__input">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        aria-label="username"
      />
    </div>
    <div class="form__input">
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="password"
        aria-label="password"
      />
    </div>
    <button class="form__submit" (click)="login()">sign in</button>
  </form>

  <p class="registration-info">
    If you do not have an account
    <button class="btn-link register-btn" routerLink="/register">
      create one for free
    </button>
  </p>
</div>
