<div *ngIf="status == 'Credit'" class="payment-info">
  <span class="material-icons message-icon success-icon"> done </span>
  <h4 class="header">Your transaction completed successfully!</h4>
  <span class="message">
    <p class="message-details">
      <span>
        Thank you for your purchase, we wish that you keep coming back!
      </span>
      <span> Transaction ID for your refrence </span>
      <span>
        {{ paymentId }}
      </span>
    </p>
  </span>
  <button class="btn-link" routerLink="/products">Continue Shopping</button>
</div>

<div *ngIf="status == 'Failed'" class="payment-info">
  <h4 class="header">
    <span class="material-icons message-icon failure-icon"> clear </span> Your
    transaction failed!
  </h4>
  <span class="message">
    <p class="message-details">
      <span>
        Looks like there was some error processing your transaction.
      </span>
      <span> Please retry the payment.</span>
      <span>Transaction ID for your refrence </span>
      <span> {{ paymentId }} </span>
    </p>
  </span>
  <button class="btn-link" routerLink="/products">Continue Shopping</button>
</div>
