.loader {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 5px solid var(--background);
  border-top: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
  border-right: 5px solid var(--primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader.loader--large {
  width: 6rem;
  height: 6rem;
}
