<div class="login-form">
  <h5 class="sign-in-msg">Add your details to create your account!</h5>
  <form action="javascript:void(0)" class="form">
    <div class="form__input">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        aria-label="username"
      />
    </div>
    <div class="form__input">
      <input
        type="text"
        name="password"
        [(ngModel)]="password"
        placeholder="password"
        aria-label="password"
      />
    </div>
    <button class="form__submit" (click)="register()">sign in</button>
  </form>
</div>
