.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.navbar__app {
  display: flex;
  gap: 1rem;
}

.navbar__links {
  display: flex;
  gap: 1rem;
}

.link {
  cursor: pointer;
}

.navbar__app {
  cursor: pointer;
}

.navbar__link {
  position: relative;
  padding: 0.5rem;
}

.navbar__link .cart-item-total {
  top: -10%;
  left: 50%;
  position: absolute;
  font-size: 0.8rem;
  font-style: italic;
}
